@import '_partials/_header';
@import '_partials/_footer';
@import '_partials/_topUsers';
@import '_partials/_barfsArchive';
@import '_partials/_createBarf';
@import '_areas/_pre-login';
@import '_areas/_user';
@import '_areas/_barf';
html {
    min-height: 100%;
    position: relative;
    body {
        padding-top: 70px;
        margin-bottom: 80px;
    }
}

.card-columns {
    column-count: 1;
}

*>.fa.fa-hover-show,
*:hover>.fa.fa-hover-hidden {
    display: none;
}

*:hover>.fa.fa-hover-show {
    display: inline-block;
}

button {
    cursor: pointer;
    .fa {
        cursor: pointer;
    }
}