extends ../layout

block content
  div(class="home jsHome container")
    if user
      div(class="row")
        div(class="col")
          include ../partials/_createBarf.pug
    div(class="row")
      div(class="leftCol col")
        div(class="topUsers jsTopUsers")  
      div(class="main col-9")
        div(class="barfs jsBarfs")