extends ../layout

block content
  div(class="home jsHome")
    if user
      div(class="row")
        div(class="col")
          include ../partials/_createBarf.pug
    div(class="row")
      include ../includes/left-col.pug
      div(class="main col-xs-12 col-md-9 order-1 order-md-2")
        if user
          div(class="barfs jsBarfs")