extends ../layout

block content
    div(class="pre-login jsPreLogin")
        div(class="row")
            div(class="main col-md-4 offset-md-7")
                div(class="card")
                    h3(class="card-header") Welcome to Barfer!
                    div(class="card-block")
                        p(class="card-text") Barfer lets you talk about your favourite topics and follow other like-minded interesting people
                        a(class="btn btn-primary", href="do-login") Login/Register