language: node_js
node_js:
- "8"
cache:
  directories:
    - node_modules
git:
  depth: 99999
branches:  
  only:
    - master
notifications:
- email: false

jobs:
  include:
    - script: npm test
    - stage: deploy web ui
      script: 
        - chmod +x ./deployment/web.deploy.sh
        - ./deployment/web.deploy.sh
      deploy:
        provider: azure_web_apps
        skip_cleanup: true
        verbose: true
        site: barfer
    - stage: deploy barfs service
      script: 
        - chmod +x ./deployment/barfsService.deploy.sh
        - ./deployment/barfsService.deploy.sh
      deploy:
        provider: azure_web_apps
        skip_cleanup: true
        verbose: true
        site: api-barfer
    - stage: deploy users service
      script: 
        - chmod +x ./deployment/usersService.deploy.sh
        - ./deployment/usersService.deploy.sh
      deploy:
        provider: azure_web_apps
        skip_cleanup: true
        verbose: true
        site: api-users-barfer
    - stage: deploy message processor
      script: 
        - chmod +x ./deployment/messageProcessor.deploy.sh
        - ./deployment/messageProcessor.deploy.sh
      deploy:
        provider: azure_web_apps
        skip_cleanup: true
        verbose: true
        site: message-processor-barfer