language: node_js
node_js:
- node
- '8'
cache:
  directories:
  - node_modules
notifications:
- email: false
before_install:
  - npm install -g gulp-cli
before_script:
  - gulp build
script:
  - npm test
deploy:
 provider: azure_web_apps
 skip_cleanup: true