header.header
  nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
    a(class="navbar-brand" href="/") Barfer
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    
    div(class="collapse navbar-collapse" id="navbarSupportedContent")

      ul(class="navbar-nav mr-auto")
    
      form(class="form-inline my-2 my-lg-0", id="header-search")
        input(class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search")
        button(class="btn my-2 my-sm-0" type="submit")
          <i class="fa fa-search" aria-hidden="true"></i>
    
      ul(class="navbar-nav")
        if user
          if user.picture
            li(class="nav-item")
              img(src=user.picture, class="img-thumbnail rounded-circle", style="max-height:50px", alt=user.name, title=user.name)

          li(class="nav-item")
            a(class="nav-link" href="/logout") Logout