div(class="create-barf jsBarfer")
    form
        div(class="form-group")
            textarea(class="form-control", cols="30", rows="10", placeholder="barf!", required)
        div(class="form-group clearfix")
            button(type="submit", class="float-right btn btn-primary") barf!