.barfs-archive {
    .barf {
        .blockquote-footer {
            text-align: right;
            img {
                margin-right: 6px;
                width: 25px;
            }
            span {
                margin-left: 4px;
            }
        }
    }
}