.top-users {
    li {
        .thumb {
            display: inline-block;
            vertical-align: top;
            margin-right: 4px;
            img {
                width: 40px;
            }
        }
        .info {
            display: inline-block;
            p {
                margin: 0;
            }
        }
    }
}