doctype html
html
  head
    meta(charset='UTF-8')
    title Barfer

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
  body
    div(class="container jsMain")
      include includes/header.pug
      block content
      include includes/footer.pug
      include includes/scripts.pug