doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Barfer

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    script(src="https://use.fontawesome.com/fe790fbf78.js")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tooltipster@4.2.5/dist/css/tooltipster.bundle.min.css")
    
    link(rel="stylesheet" href="/static/site.css" )
    
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-18080426-2")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-18080426-2');
      
  body(class="area-" + area)
    div(class="container-fluid jsMain")
      include includes/header.pug

      div(class="container main-container")
        block content

    include includes/footer.pug
    include includes/scripts.pug