.barf-details {
    footer {
        .author {
            text-align: right;
            img {
                width: 25px;
            }
            a {
                font-size: 12px;
            }
            span {
                margin-left: 4px;
            }
        }
    }
}