.barf-details {
    .barf {
        .blockquote-footer {
            text-align: right;
            span {
                margin-left: 4px;
            }
        }
        .author {
            img {
                width: 100%;
            }
        }
    }
}